<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Title</title>
	<meta name="description" content="description"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/materialize.min.css">
</head>
<body>
<div class="container">
	This is a secondary ejs view

	<button class="btn red waves-effect waves-light">I'm a button</button>
	
</div>
	<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
	<script language="javascript" src="/assets/js/materialize.min.js"></script>
</body>
</html>